.titulo {
  padding: 1px;
  margin: auto;
  font-size: 4rem;
  color: #112947;
  font-family: 'Montserrat', sans-serif;
  position: relative;
  margin-top: 1rem;
}

body{
  background-color: #E5E5E5;
  background-size: cover;
  font-family: sans-serif;
  width: 70%;
}

.contenedor {
  width: 70%;
  max-width: 100px;
}

#areaJuego{
  display :none;
  height: 100vh;
  justify-content: center;
  width: 100%;
  margin: auto;
  position: absolute;
   
}
.comienzo {
font-size: 1;
  height: 5vh;
  width: 20%;
   
}

#iniciar-juego {
  color: white; 
  font-size: 1.125rem;
  line-height: 1.375rem;
  padding: 1.5rem;  
  border-radius: 1.5rem;
  width: 19.5rem;
  height: 7rem;
  border: 0;
  background: #0A3871; 
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  margin-top: 10rem;
}

#iniciar-juego:hover {
  background-color: #0a3e7e;
}

#nueva-palabra{
  background-color: transparent;
  font-size: 1.125rem;
  line-height: 1.375rem;
  border: 1px solid #0A3871;
  border-radius: 1.5rem;
  height: 4.1875rem;
  padding: 1.5rem;
  color: #0A3871;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  position: relative;
}

#nueva-palabra:hover {
  background-color: rgb(218, 220, 221);
}

.text-input {
  border-radius: 0.5em;
  border: 1px solid rgba(0, 0, 0, 0.2);
  display: block;
  padding: 0.5em;
  width: 30%;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Montserrat', sans-serif;
  position: relative;
  margin-bottom: 0rem;
}

#palabraSecreta {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    letter-spacing: 3px;
    padding: 15px;
    
    text-align: center;
    word-spacing: 3px;
    color: #0A3871;
}

#letrasError {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    letter-spacing: 3px;
    padding: 15px;
    color:  #307ad4;
}

#vidas {
    font-size: 20px;
    color:  #0A3871;
}


.comienzo {
  font-size: 7rem;
  position: absolute;
  width: 100%;
}

#ahorcado {
  background-color: #F3F5FC;
  width: 100%;
}
.mensaje {
  position: absolute;
  color: #112947;
}

#resultadoGanador{
  position: absolute;
  top: 20rem;
  font-size: 25px;
  color: #0A3871;
}
#resultadoPerdedor{
  position: absolute;
  top : 20rem;
  font-size: 25px;
  color: #0A3871;

}
#reiniciar-juego{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  background-color: #0A3871;
  font-size: 1rem;
  line-height: 1.375rem;
  border: 1px solid #0a0a0a;
  border-radius: 1.5rem;
  height: 3rem;
  padding: 1rem;
  color: white;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
 }

 #reiniciar-juego:hover {
   background-color: #0a3e7e;
 }

 @media screen and(min-width:300px) and ( max-width: 800px){
   .comienzo{
     width: 100%;
   }
   #areaJuego{
     width: 100%;
   }
   body{
    width: 100%;
   }
   .mensaje {
     width: 30%;
   }

 }

 .reservado{
  position: absolute !important;
  width: 100%;
  max-width: 100%;
  padding: 1px 1px;
  font-size: 15px;
  text-align: center;
  align-items: center;
  bottom: 0px;
  color: #0a0a0a;
 }